.center-item{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 5px;
    z-index: 100;


}
button.next{
    width: 20%;
}
.center { margin: 0 auto; width: 400px; }
button.custom-btn {
    background-color: #FCF1D6;
    border-color: #FCF1D6;
}
