<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Chabbit</title>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #FCF1D6;">
    <a href="/start"> <img src="/img/logo.png" height="50" class="d-inline-block align-top" alt=""></a>
</nav>
<div class="card-group" style="margin-top: 20px">
    <div class="card col-md-3">
        <img class="card-img-top" src="https://media.giphy.com/media/kWMHYyjSj3Ubpgr62R/giphy.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sad</h5>
            <div class="card-text">Breath like this when you are sad</div>
            <br>
            <a href="https://www.theverge.com/2017/3/30/15109762/deep-breath-study-breathing-affects-brain-neurons-emotional-state" class="btn btn-primary" style="font-family: Wellfleet">Find More</a>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="https://media3.giphy.com/media/3o6vXJZlfNfAYysryo/giphy.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Anxious</h5>
            <div class="card-text">Breath like this when you are anxious</div>
            <br>
            <a href="#" class="btn btn-primary" style="font-family: Wellfleet">Find More</a>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="https://media2.giphy.com/media/26uf8uhh5iX4UUYBq/source.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nervous</h5>
            <div class="card-text">Breath like this when you are nervous</div>
            <br>
            <a href="#" class="btn btn-primary" style="font-family: Wellfleet">Find More</a>
        </div>
    </div>
</div>
    <footer class="page-footer font-small blue fixed-bottom" style="background-color: #FCF1D6;">
        <div class="footer-copyright text-center py-3">
            <a href="/presentation.pdf"> About</a>
        </div>
    </footer>
</body>
</html>