<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Chabbit</title>
</head>
<body>

<div class="card-group">
    <div class="card" th:each="image : ${images}">
        <div class="card-body">
            <img  th:src="${image}" />
        </div>
    </div>
</div>

<form th:action="'/'+${ses}+'/step5'" method="get">
    <button type="submit" class="btn btn-outline-primary btn-lg col-md-4 offset-md-4 custom-btn">Continue</button>
</form>
</body>
</html>