<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Chabbit</title>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #FCF1D6;">
    <img src="img/logo.png" height="50" class="d-inline-block align-top" alt="">
</nav>
<div class="card-group">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/angry.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Angry</h5>
        <div class="card-text">Breath like this when you are angry</div>
        <a href="#" class="btn btn-primary">Find more</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/anxious.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Anxious</h5>
        <div class="card-text">Breath like this when you are anxious</div>
        <a href="#" class="btn btn-primary">Find more</a>
    </div>
</div>
</div>
</body>
</html>